DbPlc.WEBMVCUI/Connected Services/DbReference/DbPlcWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="MetadataExchangeHttpBinding_DbPlcWeb_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost:8098/DbPlcWeb?wsdl" />
  <wsdl:types />
  <wsdl:binding name="MetadataExchangeHttpBinding_DbPlcWeb" type="i0:DbPlcWeb">
    <wsp:PolicyReference URI="#MetadataExchangeHttpBinding_DbPlcWeb_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllArea">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/GetAllArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllWorkCenter">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/GetAllWorkCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlc">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/GetAllPlc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GelAllPlcTag">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/GelAllPlcTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllWorkCenterDto">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/GetAllWorkCenterDto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlcDto">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/GetAllPlcDto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlcTagDto">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/GetAllPlcTagDto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddArea">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/AddArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddWorkCenter">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/AddWorkCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPlc">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/AddPlc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPlcTag">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/AddPlcTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteArea">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/DeleteArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkCenter">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/DeleteWorkCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeletePlc">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/DeletePlc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeletePlcTag">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/DeletePlcTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateArea">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/UpdateArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkCenter">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/UpdateWorkCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlc">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/UpdatePlc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlcTag">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/UpdatePlcTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/DbPlcWeb/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ResponseErrorFault">
        <soap12:fault use="literal" name="ResponseErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>